body {
    transition: background-color 0.5s, color 0.5s;
}

.day-theme {
    background-color: #ecf0f1;
    color: #2c3e50;
}

.night-theme {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.content {
    padding: 20px;
    text-align: center;
}

.bodyset-dance {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff4e6;
}

.standart-dance {
    background-color: #faedcd;
    border-style: solid;
    border-width: 30px;
    border-color: #faedcd;
    border-radius: 10px;
}

.main-div-dance {
    width: 70%;
    align-content: center;
    background-color: #c9bcf5;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 10px #ab47bc;
}

.all-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 10px;
}


.top-word-colour-dance {
    background-color: #f3e5f5;
    color: #6a1b9a;
    width: 100%;
    border: 2px solid #ba68c8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px 0;
}


.image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

.thumbnail {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 4px 10px #ab47bc;
    border-radius: 5px;
}

/* Main Display Image */
.img-main-dance {
    box-shadow: 0 4px 10px #ab47bc;
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    height: auto;
}

hr {
    height: 3px;
    background-color: #ab47bc;
}

.wide-div {
    width: 100%;
    text-align: center;
}

.button-style-dance {
    background-color: #ba68c8;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    transition-duration: 0.3s;
    border: 2px solid #ab47bc;
}

.button-style-dance:hover {
    background-color: #ffffff;
    color: #ab47bc;
    border: 2px solid #ab47bc;
    box-shadow: 0 4px 10px #ab47bc;
}

a {
    color: #6a1b9a;
    text-decoration: none;
}

.a {
    text-decoration: underline;
}

.text-size {
    font-size: 20px;
}

.text-size-15 {
    font-size: 15px;
}

#move-left {
    justify-content: start;
}

#white-text {
    color: white;
}

.wide-div-button {
    width: 100%;
    display: flex;
}

.div-footer {
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgb(196, 169, 221);
}

#largeImageContainer {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.img-large-dance {
    max-width: 100%;
    height: auto;
}
