
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    font-size: 18px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}

.nav-link {
    color: #fff;
}

h1, h2, h3 {
    font-weight: 600;
    color: #004d00;
}

.all-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 10px;
}

.img-main {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 10px black;
    border-radius: 5px;
    width: 95%;
}

.wide-div {
    padding: 20px;
    margin: auto;
    width: 80%;
    text-align: center;
}

.card {
    max-width: 250px;
    margin: 10px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.table, .table td {
    border: none;
}

.div-footer-g {
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgba(182, 220, 176, 0.4);
    text-align: center;
}

.footer-links a {
    color: #b0e6a6;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.popup-form {
    display: none;
    position: fixed;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
}

.btn-primary {
    background-color: #004d00;
    border: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.button-style {
    background-color: #b9f6a5;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    transition-duration: 0.3s;
    border: 2px solid #4CAF50;
}

.button-style:hover {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    box-shadow: 0 4px 10px black;
}

.button-style-gym {
    background-color: #49372a;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    transition-duration: 0.3s;
    border: 2px solid #000000;
}

.button-style-gym:hover {
    background-color: #5a4a4a;
    color: #4CAF50;
    border: 2px solid #000000;
    box-shadow: 0 4px 10px black;
}


@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .card {
        max-width: 100%;
    }

    .wide-div {
        width: 100%;
    }
}


.text-size {
    font-size: 20px;
}

.text-size-15 {
    font-size: 15px;
}

.hr-colour-brown {
    background-color: #49372a;
}

.hr-colour-green {
    background-color: #b9f6a5;
    height: 3px;
}

.width-90 {
    width: 90%;
}


.bodyset {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff4e6;
}

.standart {
    background-color: #faedcd;
    border-style: solid;
    border-width: 30px;
    border-color: #faedcd;
    border-radius: 10px;
}

.main-div {
    width: 70%;
    align-content: center;
    background-color: rgb(246, 231, 186);
    border: 0px solid black;
    box-shadow: 0 4px 10px black;
}


.div-footer-g ul {
    text-align: center;
    padding-left: 20px;
    list-style-type: none;
}